extends layout

block content
  #container
    h1 Twi
      span(class='h1_2') ft
    // The h2 below needs ONE trailing white space.
    h2 Get 
      a(href='http://www.etsy.com' target='_blank') Etsy
      |  gift suggestions for your friends from their Twitter feed!
    form(method="POST", action="/suggest")
      input(type="text", id="giftee", name="screen_name", placeholder="twitter username")
      button(type='submit') go