extends layout

block content
  #container
    img#logo(src='images/logo.png')
    h2 Get 
      a(href='http://www.etsy.com' target='_blank') Etsy
      |  gift suggestions for your friends from their Twitter feed!
    form(method="POST", action="/suggest")
      input(type="text", id="giftee", name="screen_name")
      button(type='submit') go