!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
  body
    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
