extends layout

block content
  .sContainer
    form(method="POST", action="/suggest")
      input(type="text", id="giftee", name="screen_name", placeholder="twitter username")
      button(type='submit') go

    div.grid.grid-pad
      each item in content
          div.col-1-4
            a(href=item.url)
              img.image(src=item.Images[0].url_170x135)
