@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);

body {
  padding: 50px;
font-family: 'Titillium Web', sans-serif;}

a {
  color: #00B7FF;
}


#container{
	position: relative;
	text-align: center;
}
#logo{
	margin-left: 0 auto;
}

h2, h3{
	color: gray;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

input{
	border: none;
	height: 40px;
	font-size: 20px;
	background-color: #d9d9d9;
	width: 300px;
}

button{
	height: 40px;
	border: 0px;
	font-size: 20px;
	line-height: 22px;
	width: 80px;
}

ul{
	list-style: none;
}

li{
	padding-bottom: 20px;
}
a{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

a:hover{
	color: #c94c0f;
}
.item{
	color: gray;
	font-size: 20px;
	display: block;
}
#suggestions{
	max-width: 600px;
	margin: 0 auto;
}